body {
    background-color: beige;
    margin-left: 3em;
    margin-right: 3em;
}

h1 {
    font-size: 4em;
    text-align: center;
    font-family: sans-serif;
    padding-left: 2em;
    padding-right: 2em;
}

img {
    width: 114px;
    margin-left: 2em;
    margin-top: 2em;
    border: 1px solid lightgray;
    border-radius: 2px;
    float: left;
}

#about {
    font-size: larger;
    margin-left: 10em;
    margin-right: 5em;
    margin-bottom: 0;
    text-align: justify;
}

#cities {
    margin-left: 15em;
    margin-right: 12em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: larger;
    float: left;
}

#north-america {
    width: 7em;
    float: left;
}

#europe {
    width: 24em;
    float: left;
}

#asia {
    float: left;
}

#cities ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#europe li {
    padding-right: 1em;
    float: left;
}

button {
    border: 1px solid black;
    border-radius: 2px;
}

button:hover {
    text-decoration: underline;
}

button#dark {
    background: dimgrey;
    color: aliceblue;
}

.light {
    background-color: beige;
    color: black;
}

.dark {
    background-color: gray;
    color: azure;
}