@font-face {
    font-family: 'armwrestler';
    src: url(./fonts/ArmWrestler/ArmWrestler.ttf);
}

@font-face {
    font-family: 'lato';
    src: url(./fonts/lato/Lato-Regular.ttf);
}

h2 {
    font-family: 'armwrestler';
    font-size: 2em;
}

p, ol {
    font-family: 'lato';
    font-size: 1.25em;
}

ol {
    list-style-position: inside;
}

ol#agenda {
    width: 6em;
}

.image {
    background-size: cover;
    background-position: center center;
}

img {
    width: inherit;
}

body {
    transition: 0.5s;
}

body, a {
    color: #3c3530;
}

div, p, canvas, i, em {
  transition: 1s
}

.center-text {
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.note {
    font-size: 1em;
}

.step {
  padding: 40px 140px;
  font-size: 48px;
}

.step:not(.active) {
  opacity: 0;
}

#http-model {
font-family: 'lato';
}

#start h2 {
    margin-top: 2.5em;
}

div#backend {
    width: 20%;
    padding-top: 5em;
    padding-right: 1em;
    padding-left: 5em;
    float: left;
}

div#frontend {
    width: 20%;
    padding-top: 5em;
    padding-left: 1em;    
    float: left;
}

div#server-box {
    border: 1px solid;
    border-radius: 7px;
    padding: 1em;
    background-color: rgba(197, 198, 182, 0.7);
    margin-bottom: 1em;
}

div#client-box {
    border: 1px solid;
    border-radius: 7px;
    padding: 1em;
    background-color: rgba(197, 198, 182, 0.7);
    margin-bottom: 1em;
}

div#http {
    float: left;
    padding: 6em 0;
}

div#structure {
    background-image: url(../pics/structure.jpg);
    background-size: cover;
}

div#structure h2 {
    background-color:  rgba(197, 198, 182, 0.7);
    padding: 0.2em;
    padding-left: 5em;
    padding-right: 1em;
    left: -1em;
    position: inherit;
}

div#useful-tags {
    text-align: left;
    margin-left: 5em;
    margin-top: -1em;
}

div#useful-tags p {
    margin: 0;
}

div#tag-attributes {
    text-align: left;
    margin-left: 5em;
}

div#tag-attributes p {
    margin: 0;
}

em {
    font-style: normal;
    font-weight: 700;  
}

div#style {
    background-image: url(../pics/style.jpg);
    background-size: cover;
}

div#style h2 {
    background-color:  rgba(197, 198, 182, 0.7);
    padding: 0.2em;
    padding-left: 5em;
    padding-right: 1em;
    left: -1em;
    position: inherit;
}

div#developer-tools {
    background-image: url(../pics/monkey-hands.jpg);
    background-size: cover;
}

div#developer-tools h2 {
    background-color:  rgba(197, 198, 182, 0.7);
    padding: 0.2em;
    padding-left: 5em;
    padding-right: 1em;
    left: -1em;
    top: 5em;
    position: inherit;
}

div#css-rules p {
    margin: 0;
    text-align: left;
    margin-left: 8em;
}

div#css-rules p.attribute {
    margin-left: 9.5em;
}

p#dots {
    width: 412px;
    height: 94px;
    background-image: radial-gradient(circle at center, #3c3530 3px, transparent 5px);
    background-size: 370px 34px;
}

table#id-class {
    margin-left: 4.5em;
    border: 1px solid;
    border-collapse: collapse;
}

table#id-class th, table#id-class td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 15px;
    width: 9em;
}

div#text-attributes p {
    margin: 0;
    text-align: left;
    margin-left: 9em;
}

div#box-model div {
    font-family: 'lato';
    padding: 1em;
}

div#margin {
    border: 1px dashed;
    width: 9em;
    padding-top: 0 !important;
    margin-left: 8.5em;
}

div#box-model p {
    margin: 0;
}

div#margin > p, div#padding > p {
    padding: 0.2em 0;
}

div#padding {
    border: 2px solid;
    width: 7em;
    padding-top: 0 !important;
    background-color: #c5c6b6;
}

div#content {
    border: 1px solid;
    width: 5em;
    padding-top: 0.5em !important;
    padding-bottom: 0.6em !important;
    background-color: #aacd6e;
}

div#inline-block h2 {
    width: 8em;
    position: inherit;
    left: 4em;
    top: 2em;
}

div#units p {
    text-align: left;
    margin: 0;
    margin-left: 4em;
    margin-bottom: 0.5em;
}

div#other-attributes h2 {
    margin-bottom: 0.5em;
}

div#other-attributes p {
    margin: 0;
    margin-left: 5.5em;
    text-align: left;
}

div#floating h2 {
    margin-top: 3em;
}

div#adding-css p {
    margin: 0;
    margin-left: 5em;
    margin-bottom: 0.2em;
    text-align: left;
}

div#adding-css p i {
    margin-right: 0.5em;
}

div#sprinkles {
    background-image: url(../pics/sprinkles.jpg);
    background-size:cover;
}

div#sprinkles h2 {
    background-color:  rgba(197, 198, 182, 0.7);
    padding: 0.2em;
    padding-left: 5em;
    padding-right: 1em;
    left: -1em;
    top: 5em;
    position: inherit;
}

div#javascript1 h2 {
    margin-top: 2em;
}

div#javascript2 h2 {
    margin-top: 3em;
}

div#adding-js p {
    text-align: left;
    margin-left: 5em;
}

div#adding-js p i {
    margin-right: 0.5em;
}

div#what-else h2 {
    margin-top: 2em;
    width: 8em;
    margin-left: 3em;
}

div#further ul {
    text-align: left;
    list-style-type: none;
    margin-left: 5em;
}

div#further a {
    text-decoration: none;
    margin-left: 0.5em;
}

div#lolcat {
    background-image: url(../pics/sleepy-cat.jpeg);
    background-size:cover;
    background-position-y: -3em;
}